<!DOCTYPE html>
<html xmln:th="http://www.thymleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Voting application</title>
	</head>
	
	<body>
		<h1><span th:text="${session.citizen.name}">Imię</span> zagłosuj teraz!</h1>
		
		<div th:each="element : ${myVotings}">
			<h2 th:text="${element.key.votingName}">Nazwa głosowania</h2>
			<p>Oddaj ogłos na: </p>

		 	<ul th:each="candidate : ${element.value}">
		 		<a th:href="@{/voteFor(id=${candidate.id})}"
		 		 th:text="${candidate.name}"></a>
			</ul>
			
			
 
 		</div>
		
	</body> 
</html>